/* 4K*/
@media only screen and (max-width:5920px) {

}

/* Full HD*/
@media only screen and (max-width:1920px) {

}

@media only screen and (max-width: 1140px) { 
    .container {
        max-width: 100%;
    }
}
@media only screen and (max-width: 1160px) { 
    
    .menu_top li {
        margin-right: 35px;
    }
    .menu_top li:last-child {
        margin-right: 0px;
    }
	
}
/* Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media only screen and (max-width: 1200px) { 
    
}

@media only screen and (max-width: 1094px) { 
    .menu_div_off{
        height: 100px; 
    } 
    .menu_div{
        height: 100px; 
        overflow: hidden;
    }
    .menu_top {
        width: 100%;
        padding-left: 0;
        margin: 0;
        margin-top: 0px;
    }
    .menu_top {    
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .menu_top li {
        height: auto;
        min-height: 45px;
        margin: 0px;
        font-size: 1.225em;
        width: 100%;
    }
    .menu_top li ul li {
        height: auto;
        min-height: auto;
    }
    .menu_top li:hover ul  {
      opacity: 0;
      visibility: height;
      margin: 0;
    }
    .menu_top li ul.active_iner {
        position: static;
        opacity: 1;
       visibility: visible;
       margin: 0;
    }
    .button_mobi_menu {
        display: block;
    }
    .button_header_div {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .menu_top > li > a:after {
        display: none;
    }

    
    .mobile_on {
      display: block !important;
      visibility: visible !important;
    }
    .mobile_off {
      display: none !important;
      visibility: hidden !important;
    }



    .mid_block_header, .top_block_header {
        display: none;
    }
    .top_block_header.top_block_header_modal {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
	}
    .top_mob_menu {
        display: -ms-flex !important;
        display: -webkit-flex !important;
        display: flex !important;
        width: 100%;

        border-top: 2px solid #32b8da;
        border-bottom: 2px solid #32b8da;
        padding: 15px 0px;
        margin: 0 auto;
        margin-bottom: 30px;
        max-width: 354px;
    }
    .mid_block_header_text_1 {
        max-width: 162px;
        padding: 0;
    }
    .mid_block_header_text_2 {
        padding: 0;
		margin: auto;
    }


    .menu_top {
        display: block!important;
    }
    .button_menu_mobi {
        width: 100%;
    }
    .menu_top ul {
        display: block;
        width: 100%;
    }
    .menu_top ul li {
        margin: 0 auto;
    }
    .menu_top ul li a{
        text-align: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 0.850em;
        padding: 5px;
    }
    .menu_top ul li:last-child {
        margin: 0 auto;
    }

    .menu_scrollbar {
        margin: 0 -25px;
        width: calc(100% + 50px);
        max-height: calc(100vh - 100px);
        padding-bottom: 30px;
        -webkit-overflow-scrolling: touch;
        overflow-y: auto;
        display: none;
    }
    .menu_div.active .menu_scrollbar {
        display: block;
    }
    .menu_div.active.scroll {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        min-height: 100vh;
        width: 100%;
    }
    .menu_div.active .menu_scrollbar {
        -webkit-overflow-scrolling: touch;
        overflow-y: auto;
        left: 0;
        right: 0;
        top: 100px;
        max-height: calc(100vh - 100px);
    }
    .mid_block_header_4 {
        text-align: center;
    }
    .mid_block_header_4 .button_1 {
        margin: 0 auto;
    }
    .social_button {    
        margin-top: 15px;
        border-top: 2px solid #32b8da;
        border-bottom: 2px solid #32b8da;
        padding: 15px 0px;
        text-align: center;
    }
    .social_button a {        
        display: inline-block;
        width: 60px;
        height: 60px;
        background: rgb(50,218,195);
        text-align: center;
        line-height: 60px;
        border-radius: 50%;
        color: #fff;
        font-size: 1.500em;
        margin: 0 12px;
    }
		
    .social_button a:hover {    
        background: #07a7e3;
        color: #fff;
    }
}


/* Большие девайсы (десктопы, <= 991px) */
@media only screen and (max-width: 991px) { 
    
   
}

@media only screen and (max-width: 930px) { 
    

}
@media only screen and (max-width: 860px) { 
    .left_modal {
        width: 100%;
        height: 320px;
        float: none;
        background-position: center bottom;
    }
    .right_modal {
        width: 100%;
        float: none;
    }
}

/* Средние девайсы («таблетки», <= 767px) */
@media only screen and (max-width: 767px) { 


    .modal-dialog-table {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
        -webkit-overflow-scrolling: touch;
        overflow-y: auto;
        max-height: 100vh;
            height: 100vh;
    }
    .modal-dialog-table .modal-body {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    max-height: 100vh;
        height: 100vh;
        background: #fff;
    }
    .button_1 {
        font-size: 1.3em;
    }
	


}
/* Малые девайсы («ландшафтные телефоны», <= 600px) */
@media only screen and (max-width: 600px) {
	
}

@media only screen and (max-width: 575px) {
   
}

@media only screen and (max-width: 500px) {

}
@media only screen and (max-width: 460px) {
    
   
}

@media only screen and (max-width: 420px) {
   
}
@media only screen and (max-width: 400px) {

    
}
@media only screen and (max-width: 390px) {
   
}

@media only screen and (max-width: 385px) {
	
}

@media only screen and (max-width: 375px) {
	
}

@media only screen and (max-width: 370px) {
    
    
}


@media only screen and (max-width: 360px) {
	
}
@media only screen and (max-width: 350px) {
    
   

}
@media only screen and (max-width: 340px) {
    
    

}
/* IPhone 5 */
@media only screen and (max-width: 320px) {
   
}