/* 4K*/
@media only screen and (max-width:5920px) {

}

/* Full HD*/
@media only screen and (max-width:1920px) {

}
@media only screen and (max-width:1220px) {

}

/* Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media only screen and (max-width: 1200px) { 
    .container {
        max-width: 100%;
    }
    .menu_top li {
        font-size: 1.05em;
    }
    .menu_scrollbar {
        width: calc(100% - 270px);
    }
    .Logo {
        width: 243px;
        margin-right: 27px;
    }
    .menu_footer {
        width: calc(100% - 285px);
    }
    .logo_footer {
        width: 243px;
        margin-right: 40px;
    }
    .title-block-brush:after {
        display: none;
    }
    .block_2_iner_container {
        padding: 40px;
    }
    .block_3_row {
        padding: 0 15px;
    }
}

@media only screen and (max-width: 1199px) { 
    body {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1050px) { 
    .gallery {
        max-width: 100%;
    }
    .gallery .col {
        min-width: 100%;
    }
    .gallery img {
        margin: 15px;
        width: calc(100% - 30px);
    }
    .advantage-block {
        min-height: 200px;
    }
}

/* Большие девайсы (десктопы, <= 991px) */
@media only screen and (max-width: 991px) { 
    .mov {
        opacity: 1;
    }
    .mov_p > p {
        opacity: 1;
    }
    .mov_div > div {
        opacity: 1;
    }
    .gallery .col {
        min-width: 100%;
    }

    .gallery img {
        margin: 7px;
        width: calc(100% - 14px);
    }
    .header_all {
        position: relative;
        z-index: 5;
    }
    .block_1 {
        margin-top: -62px;
        height: calc(100vh + 62px);
        text-align: center;
    }
    .block_1 .title {
        margin-bottom: 100px;
        margin-top: 62px;
    }
    .block_1 .title-bot {
        max-width: 540px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .block_1 .row {
        height: 100vh;
    }
    .block_1 .button_1 {
        width: 100%;
        max-width: 370px;
        margin: 0 auto;
    }

    .heder_div {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 62px;
        background: #191925;
        width: 100%;
        padding: 0;
        -webkit-transform: translateY(-200%);
        -moz-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
        -o-transform: translateY(-200%);
        transform: translateY(-200%);
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
            transition: all .5s;
    }
    .heder_div.active {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
            transition: all .5s;
    }

    .heder_div .row {
        margin: 0 -30px;
    }
    ul.icon_ul li, ul.icon_ul > li.mail_li {
        display: block;
        width: 100%;
        height: 70px;
        border-bottom: 1px solid #454650;
    }

    ul.icon_ul li a {
        margin: 35px auto;
        display: block;
        width: 180px;
    }

    .heder_div_iner_right .button_2 {
        float: none;
        margin: 35px auto;
        width: 100%;
        max-width: 300px;
    }
    .arr_up {
      display: block;
    }



    .Logo {
        background: url('../img/Logo-w.png') no-repeat;
        background-size: contain;
        background-position: center;
        float: none;
        width: 163px;
        height: 38px;
        margin-right: 0;
    }

    .menu_div_off{
        height: 62px; 
    } 
    .menu_div{
        height: 62px; 
        background: transparent;
    }
    .menu_div.scroll {
        background: #191925;
    }
    .menu_top {
        position: relative;
        width: 100%;
        padding-left: 0;
        margin: 0;
        margin-top: 0px;
        flex-direction: column;
        -webkit-flex-direction: column;
        counter-reset: list 0;
        margin-top: 25px;
    }
    .menu_scrollbar:after, .menu_scrollbar:before {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 1px;
        background: #454650;
        top: 0;
    }
    .menu_scrollbar:before {
        top: 0;
        left: 51px;
    }
    .menu_scrollbar:after {
        top: 0;
        right: 51px;
    }
    .menu_top:after, .menu_top:before {
        content: '';
        position: absolute;
        display: block;
        height: 60px;
        width: 3px;
        background: #81b02b;
        z-index: 2;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;
    }
    .menu_top:before {
        top: 0;
        left: 50px;
        transform: translateY(2000px);
    }
    .menu_top:after {
        bottom: 30%;
        right: 50px;
        transform: translateY(-2000px);
    }
    .menu_top.active:before, .menu_top.active:after {
        transform: translateY(0px);
    }
    .menu_top li {
        height: auto;
        min-height: 80px;
        margin: 0px auto;
        font-size: 1.225em;
        width: 170px;
        padding-top: 25px;
    }
    .menu_top li:last-child {
        margin: 0px auto;
    }
    .menu_top li:before {
        content: "0"counter(list)".";
        counter-increment: list;
        display: inline-block;
        height: 100%;
        color: #fff;
        float: left;
        padding-top: 5px;
    }
    .menu_top li:hover:before {
        color: #81b02b;
    }
    .menu_top > li > a {
        -webkit-justify-content: center;
        justify-content: start;
        color: #4c4c59;
        width: calc(100% - 30px);
    }
    .menu_top > li:hover > a, .menu_top > li > a.mPS2id-highlight {
        color: #fff;
    }
    .menu_top > li > a:after {
        display: none;
    }
    
    .button_mobi_menu {
        display: block;    
        position: relative;
        z-index: 10;
    }

    .mobile_on {
      display: block !important;
      visibility: visible !important;
    }
    .mobile_off {
      display: none !important;
      visibility: hidden !important;
    }

    .menu_top {
        display: block!important;
    }
    .button_menu_mobi {
        width: 100%;
    }



    .menu_scrollbar {
        display: none;
    }
    .menu_scrollbar.active {
        width: 100%;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #191925;
    }
    .menu_scrollbar.active .LogoBig{
        display: block;
    }


    .button_mobi_phone_block {
      display: block;
    }
    .button_mobi_phone_block.active i:before {
        content: "\f00d";
    }


    .block_2 {
        background: #fff;
    }
    .block_2_button .button_1 {
    }
    .block_3_iner_img_block {
        order: -1;
    }
    .block_3 .img_div_r {
        float: none;
    }
    .block_3 .img_div {
        width: 100%;
        max-width: 430px;
        height: auto;
        margin: 15px auto;
    }
    .block_3 .img_div > img {
        width: calc(100% - 60px);
        height: auto;
        margin: 20px 30px;
    }
    .block_3_iner {
        width: 100%;
        max-width: 430px;
        margin: 0 auto;
    }
    .block_3_iner > p{
        padding-left: 30px;
    }
    .block_4_iner .img_div {
        margin-top: 30px;
    }
    .block_4_row {
        margin-top: 30px;
    }
    .block_7 .row_form .button_1 {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    .block_7 .col-input {
        max-width: auto;
    }
    .menu_footer_row {
        display: none;
    }

    .advantage-block {
        min-height: auto;
        padding-top: 30px;
    }

}

}
@media only screen and (max-width: 860px) { 
    .left_modal {
        width: 100%;
        height: 320px;
        float: none;
        background-position: center bottom;
    }
    .right_modal {
        width: 100%;
        float: none;
    }
}

@media only screen and (max-width: 800px) { 
    .title-block .title {
    font-size: 1.85em;
    font-weight: 700;
}

/* Средние девайсы («таблетки», <= 767px) */
@media only screen and (max-width: 767px) { 
    body {
        font-size: 14px;
    }

    .modal-dialog-table {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
        -webkit-overflow-scrolling: touch;
        overflow-y: auto;
        max-height: 100vh;
            height: 100vh;
    }
    .modal-dialog-table .modal-body {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    max-height: 100vh;
        height: 100vh;
        background: #fff;
    }
    .button_1 {
        font-size: 1.3em;
    }
	
    @media only screen and (max-width: 700px) {
        .row_form .col {
            min-width: 100%;
        }
    }

    .block_5 {
        background: url(../img/bac_5.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 66px;
        margin-bottom: 0px;
        padding-bottom: 50px;
        position: relative;
        z-index: 1;
    }
    .block_6 {
        padding-top: 50px;
    }

}
/* Малые девайсы («ландшафтные телефоны», <= 600px) */
@media only screen and (max-width: 600px) {
    .row_footer_bot {
        height: 90px;
    }
    .row_footer_bot > p {
        padding-top: 10px;
        min-width: 100%;
    }
	.logo-wdl-block.justify-content-between {
        min-width: 100%;
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
    .block_2_iner_container {
        padding: 15px;
    }
    .block_3 .img_div > img {
        width: calc(100% - 30px);
        margin: 10px 15px;
    }
    .block_3_iner > p{
        padding-left: 15px;
    }

    .block_1 .title {
        margin-bottom: 30px;
        margin-top: 62px;
    }
    .row_slider_doc {
        padding: 0 15px;
        margin-top: 35px;
    }
    .item_slider img {
        max-width: 100%;
    }
}

@media only screen and (max-width: 519px) {
   body {
        font-size: 13px;
   }
}

@media only screen and (max-width: 500px) {

}
@media only screen and (max-width: 460px) {
    
   
}

@media only screen and (max-width: 420px) {
   
}
@media only screen and (max-width: 400px) {

    
}
@media only screen and (max-width: 390px) {
   
}

@media only screen and (max-width: 385px) {
	
}

@media only screen and (max-width: 375px) {
	
}

@media only screen and (max-width: 370px) {
    
    
}


@media only screen and (max-width: 360px) {
	
    .block_1 .title {
        font-size: 2.0em;
    }
    .block_1 .title-bot {
        font-size: 1.50em;
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 350px) {
    
   

}
@media only screen and (max-width: 340px) {
    
    

}
/* IPhone 5 */
@media only screen and (max-width: 320px) {
   
}