/* FONTS */
@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
    url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}


/* General */
.container {
  max-width: 1200px;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  color: #1b1b1b;
  font-size: 16px;

  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;    
}

:focus,:active {
  outline: none;
}
a {
  color: #2d2c40;
}
a:hover {
  color: #81b02b;
}
.clear {
  clear: both;
  overflow: hidden;
}

.button_0 {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.button_0:hover {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.button_0:focus {
  outline: none;
  color: #fff;
}
.button_0:active {
  outline: none;
  color: #fff;
}

.button_1 {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  width: 100%;
  max-width: 370px;
  height: 68px;
  border: none;
  border-radius: 5px;
  background: #3d9134;

  font-size: 1.375em;
  font-weight: 500;
  color: #fff;
  
}
.button_1:hover {
  background: #81b02b !important;
  color: #fff;
}

.button_2 {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  
  width: 100%;
  max-width: 300px;
  height: 50px;
  border: 2px solid #81b02b;
  border-radius: 25px;
  background: transparent;
  color: #fff;

  font-family: 'Ubuntu', sans-serif;
  font-size: 1.125em;
  font-weight: 500;
}
.button_2:hover,.button_2:focus,.button_2:active  {
  background: #81b02b !important;
  color: #fff;
}



/* ALL */
.all {
  width: 100%;
  overflow: hidden;
}

h1 {
  font-size: 3.438em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 3.3px;
}

.parallax-background {
  background-size: 100%;
  position:relative!important
}

.title-block {
  text-align: center;
}
.title-block .title {
  font-size: 2.250em;
  font-weight: 700;
}
.title-block.title-block-w .title {
  color: #fff
}
.title-block .title-bot {
  font-size: 1.250em;
  color: #6f6f6f;
  margin: 0 auto;
  margin-top: 4px;
  max-width: 440px;
}
.title-block.title-block-w .title-bot {
  color: rgba(255, 255, 255, 0.749);
}


/*PRELOADER*/
@keyframes wavy-loader {
  0%    { top: 2px; }
  1%    { top: 4px; }
  2%    { top:6px; }
  3%    { top:8px; }
  4%    { top: 10px; }
  5%    { top:12px; opacity: 1; }
  6%    { top: -2px; opacity: 1; }
  7%    { top: -4px; opacity: 1; }
  8%    { top: -6px; opacity: 1; }
  9%    { top: -8px; opacity: 1; }
  10%   { top: -10px; opacity: 1; }
  11%   { top: -12px; opacity: 1; }
  12%   { top: 0; opacity: .5; }
  100%  { top: 0; opacity: .5; }
}
@-webkit-keyframes wavy-loader {
  0%    { top: 2px; }
  1%    { top: 4px; }
  2%    { top:6px; }
  3%    { top:8px; }
  4%    { top: 10px; }
  5%    { top:12px; opacity: 1; }
  6%    { top: -2px; opacity: 1; }
  7%    { top: -4px; opacity: 1; }
  8%    { top: -6px; opacity: 1; }
  9%    { top: -8px; opacity: 1; }
  10%   { top: -10px; opacity: 1; }
  11%   { top: -12px; opacity: 1; }
  12%   { top: 0; opacity: .5; }
  100%  { top: 0; opacity: .5; }
}
.volosunov {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100500;
}
.volosunov .spinner {
  position: absolute;
  left: 50%;
  top: 50%;    
  width: 84px;
  height: 18px;
  margin: -9px 0 0 -42px;
}
.volosunov .spinner span {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 2px;
  background-color: #81b02b;
  opacity: .5;
}
.volosunov .spinner span:nth-child(2n) {
  background-color: #81b02b;
}
.volosunov .spinner span:first-child {
  animation: wavy-loader 2.5s .1s ease-out infinite;
  -webkit-animation: wavy-loader 2.5s .1s ease-out infinite;
}

.volosunov .spinner span:nth-child(2) {
  animation: wavy-loader 2.5s .2s ease-out infinite;
  -webkit-animation: wavy-loader 2.5s .2s ease-out infinite;
}

.volosunov .spinner span:nth-child(3) {
  animation: wavy-loader 2.5s .3s ease-out infinite;
  -webkit-animation: wavy-loader 2.5s .3s ease-out infinite;
}

.volosunov .spinner span:nth-child(4) {
  animation: wavy-loader 2.5s .4s ease-out infinite;
  -webkit-animation: wavy-loader 2.5s .4s ease-out infinite;
}

.volosunov .spinner span:nth-child(5) {
  animation: wavy-loader 2.5s .5s ease-out infinite;
  -webkit-animation: wavy-loader 2.5s .5s ease-out infinite;
}


/* HEADER */
.heder_div {
    background: #222222;
}
.heder_div .row {
    height: 72px;
}
.heder_div_iner {
   
}

.heder_div_iner_left {
   text-align: left;
}
.arr_up {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 35px;
  width: 100%;
  height: 40px;
  background: url("../img/Scroll Up _ Close.png") no-repeat;
  background-position: center;
  cursor: pointer;
}

ul.icon_ul {
    margin-top: 3px;
}
ul.icon_ul li {
    display: inline-block;
    width: 200px;
    height: 32px;
}
ul.icon_ul > li.mail_li {
    width: 165px;
}
ul.icon_ul li:hover .icons {
    transform-style: preserve-3d;
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
        transition: all .5s;
}
a.icon_a:hover {
    text-decoration:none;
}
.icons {
    width: 32px;
    height: 32px;
    border: 2px solid #81b02b;
    text-align: center;
    float: left;
    margin-right: 10px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
     -o-transition: all .5s;
        transition: all .5s;
}
.icon_fa_my {
    color: #81b02b;
    line-height: 30px;
}
.p1 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.750em;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.2;
}
.p1.mail_p {
    line-height: 1.5;
}
ul.icon_ul li:hover .p1 {
    color: #fff;
}
.p1 > span {
    font-size: 1.5em;
    font-weight: 500;
}

.heder_div_iner_right .button_2 {
    float: right;
}






/* Menu */
.LogoBig {
  display: none;
  width: 123px;
  height: 87px;
  background: url('../img/LogoBig.png') no-repeat;
  background-position: center;
  background-size: contain;
  margin: 10px auto;
}
.Logo {
  width: 243px;
  height: 60px;
  background: url('../img/Logo.png') no-repeat;
  background-position: center;
  background-size: 100%;
  margin-right: 102px;
  float: left;
}
.menu_div_off{
  width: 100%;
  height: 82px;
  display: none;
}
.menu_div_off.active {
  display: block;
}
.menu_div .container,.menu_div .row {
  height: 100%;
}
.menu_div .container {

}
.menu_div {
  width: 100%;
  height: 82px;
  /*overflow: hidden;*/
  background: transparent;
  z-index: 11000;
}

.menu_div.scroll {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;    
  margin-top: 0px;
}

.menu_div.active {
  background: #fff;
  height: auto;
  padding-bottom: 10px;
}
.menu_div.scroll.active {
  
}
.menu_div.scroll .menu_top > li > a {

}
.menu_div.scroll .menu_top > li.active > a,
.menu_div.scroll .menu_top > li > a.mPS2id-highlight {
    
}

.menu_div > div {
  height: 100%;
}

.menu_top {
  width: 100%;
  height: 100%;

  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}
.menu_top li{
  position: relative;
  font-size: 1.125em;
  font-weight: 500;
  height: 100%;
}
.menu_top li:last-child{
  margin-right: 0px;
}
.menu_top li a {
  position: relative;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-align-items: center;
  align-items: center;

  width: 100%;
  height: 100%;
}
.menu_top > li > a {
  padding: 0 10px;
  padding-top: 5px;
  -webkit-justify-content: center;
  justify-content: center;
}


.menu_top > li.current_page_item > a,.menu_top > li.active > a,.menu_top > li > a.mPS2id-highlight {
  
}
.menu_top > li:hover > a  {

}


.menu_top > li > a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  background: #81b02b;
  width: 0;
  height: 4px;

  -webkit-transition: width .3s ease 0s, left .3s ease 0s;
  -moz-transition: width .3s ease 0s, left .3s ease 0s;
  -ms-transition: width .3s ease 0s, left .3s ease 0s;
  -o-transition: width .3s ease 0s, left .3s ease 0s;
  transition: width .3s ease 0s, left .3s ease 0s;
}
.menu_top > li.current_page_item > a:after,.menu_top > li.active > a:after,.menu_top > li > a.mPS2id-highlight:after {
  left: 0px;
  width: 100%; 
}
.menu_top > li:hover > a:after  {
  left: 0px;
  width: 100%;
}

.menu_scrollbar {
  width: calc(100% - 335px);
  height: 100%;
  margin-right: -10px;
}

.button_mobi_menu {
  display: none;
  width: 26px;
  height: 21px;
  float: right;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.button_mobi_menu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.menu_div.scroll .button_mobi_menu span {
  background: #fff;
}

.button_mobi_menu  span:nth-child(1) {
 top: 0px;
}

.button_mobi_menu  span:nth-child(2),.button_mobi_menu span:nth-child(3) {
 top: 9px;
}

.button_mobi_menu  span:nth-child(4) {
 top: 18px;
}

.button_mobi_menu.active span:nth-child(1) {
 top: 9px;
 width: 0%;
 left: 50%;
}

.button_mobi_menu.active span:nth-child(2) {
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(45deg);
}

.button_mobi_menu.active span:nth-child(3) {
 -webkit-transform: rotate(-45deg);
 -moz-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 transform: rotate(-45deg);
}

.button_mobi_menu.active span:nth-child(4) {
 top: 16px;
 width: 0%;
 left: 50%;
}


.button_mobi_phone_block {
  display: none;
  width: 30px;
  height: 30px;
  background: #81b02b;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  float: right;
  cursor: pointer;
}

.button_mobi_phone_block:hover {
  transform-style: preserve-3d;
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  transform: rotateY(360deg);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
      transition: all .5s;
}



.mobile_on {
  display: none !important;
  visibility: hidden !important;
}



/* Block 1 (Content) */
.block_1{
  background: url("../img/bac_1.jpg") no-repeat;
  background-position:center;
  background-size: 130%;
}
.block_1 .row{
  position: relative;
  height: calc(100vh - 154px);
  overflow: hidden;
}
.block_1 .title {
  display: inline-block;
  font-size: 3.000em;
  font-weight: 900;
  color: #fff;
  max-width: 600px;
  line-height: 1.2;
  margin-bottom: 50px;
}
.block_1 .title-bot {
  font-size: 2.000em;
  color: rgba(255, 255, 255, 0.749);
  max-width: 600px;
  line-height: 1.2;
  margin-bottom: 50px;
}
.arr_down {
  width: 100%;
  height: 40px;
  background: url("../img/ScrollDownArrows.png") no-repeat;
  background-position: center;
  margin-top: 45px;
}

/* Block 2 (Content) */
.block_2 {
  background: url("../img/bac_2.png") no-repeat;
  background-size: 100%;
  background-position:center;
  padding-top: 67px;
  padding-bottom: 81px;
}

.title-block-brush {
  position: relative;
}
.title-block-brush:after {
  content: '';
  position: absolute;
  top: -26px;
  left: -175px;
  width: 332px;
  height: 448px;
  background: url('../img/brush.png') no-repeat;
  z-index: 2;
}

.block_2_iner_container {
  margin-top: 32px;
  padding: 40px 70px;
  background-color: #fafafa;
}
.block_2_iner_container .title {
  font-size: 1.875em;
  font-weight: 700;
  line-height: 1.8;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin-bottom: 17px;
}
.block_2_iner_container .title:after,
.block_2_iner_container .title:before {
   content: '';
   position: absolute;
   top: 0;
   display: block;
   width: 26px;
   height: 28px;
   border-top: 3px solid #80af2b;
}
.block_2_iner_container .title:after {
  left: 0;
  border-left: 3px solid #80af2b;
}
.block_2_iner_container .title:before {
  right: 0;
  border-right: 3px solid #80af2b;
}
.block_2_iner_r .block_2_iner_container .title:after,
.block_2_iner_r .block_2_iner_container .title:before {
   border-color: #e52e37;
}

.advantage-block {
  font-family: 'Ubuntu', sans-serif;
  min-height: 154px;
}

.advantage-block .title_iner {
  position: relative;
  font-weight: 700;
  font-size: 1.125em;
  color: #80af2b;
  padding-left: 30px;
}
.advantage-block .title_iner:after {
  content: "\f067";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 3px;
  left: 0px;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 0 5px;
  font-size: 0.8em;
  line-height: 22px;
  border-radius: 50%;
  background: #80af2b;
  color: #fff;
}
.block_2_iner_r .advantage-block .title_iner {
  color: #e52e37;
}
.block_2_iner_r .advantage-block .title_iner:after {
  content: "\f068";
  background: #e52e37;
}
.advantage-block .title_iner_bot {
  font-size: 1.125em;
  color: #727272;
  padding-left: 30px;
  line-height: 1.45;
}

.black_button_center .button_0 {
  margin: 0 auto;
  background: #292929;
}
.block_2_button .button_1 {
  margin-top: 76px;
}


/* Block 3 (Content) */
.block_3 {
  background: url("../img/bac_3.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 67px;
  padding-bottom: 81px;
}
.block_3 .title-block {
  margin-bottom: 65px;
}

.block_3_row {
  margin-bottom: 80px;
  padding: 0 70px;
}

.block_3 .img_div {
  position: relative;
  width: 430px;
  height: 280px;
}
.block_3 .img_div_r {
  float: right;
}
.block_3 .img_div > img {
  width: 370px;
  height: 240px;
  margin: 20px 30px;
}

.img_div > span {
  position: absolute;
  display: block;
  width: 26px;
  height: 28px;
}
.img_div span:nth-child(1) {
  top: 0;
  left: 0;
  border-top: 3px solid #80af2b;
  border-left: 3px solid #80af2b;
}
.img_div span:nth-child(2) {
  top: 0;
  right: 0;
  border-top: 3px solid #80af2b;
  border-right: 3px solid #80af2b;
}
.img_div span:nth-child(3) {
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #80af2b;
  border-left: 3px solid #80af2b;
}
.img_div span:nth-child(4) {
  bottom: 0;
  right: 0;
  border-bottom: 3px solid #80af2b;
  border-right: 3px solid #80af2b;
}

.block_3_iner {
  font-family: 'Ubuntu', sans-serif;
}
.block_3_iner p {
  font-size: 1.125em;
  color: #fff;
  line-height: 1.45;
}
.block_3_iner .title {
  font-size: 1.500em;
  font-weight: 700;
  color: #80af2b;
  line-height: 1.2;
}
.block_3_button .button_1 {
  margin-top: 10px;
}


/* Block 4 (Content) */
.block_4 {
  background: url("../img/bac_4.png") no-repeat;
  background-size: 100%;
  background-position:center;
  padding-top: 66px;
  padding-bottom: 76px;
}
.block_4 .title-block .title-bot {
  line-height: 1.2;
  margin-top: 7px;
}

.block_4_row {
  margin-top: 75px;
}
.block_4_iner {
  font-family: 'Ubuntu', sans-serif;
}
.block_4_iner .img_div {
  height: 64px;
}

.block_4_iner .title {
  font-size: 1.250em;
  font-weight: 700;
  margin-top: 29px;
}

.block_4_iner .text {
  font-size: 1.063em;
  color: #727272;
  margin-top: 6px;
}



/* Block 5 (Content) */
.block_5 {
  background: url("../img/bac_5.jpg") no-repeat;
  background-size: 100%;
  background-position:top;
  padding-top: 66px;
  margin-bottom: -800px;
  position: relative;
  z-index: 1;
}
.block_5 .title-block .title-bot {
  line-height: 1.2;
  margin-top: 7px;
}

.gallery {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  z-index: 3;
}
.gallery img {
  margin: 15px;
}
.gallery .row_gallery .g-col-23 {
  min-width: 23%;
  max-width: 23%;
  width: 23%;
}
.gallery .row_gallery .g-col-27 {
  min-width: 27%;
  max-width: 27%;
  width: 27%;
}
.gallery .row_gallery .g-col-20 {
  min-width: 20%;
  max-width: 20%;
  width: 20%;
}
.gallery .row_gallery .g-col-30 {
  min-width: 30%;
  max-width: 30%;
  width: 30%;
}
.gallery .row_gallery .g-col-50 {
  min-width: 50%;
  max-width: 50%;
  width: 50%;
}

.block_5_button .button_1 {
  margin-top: 65px;
}


/* Block 6 (Content) */
.block_6 {
  background: url("../img/bac_6.png") no-repeat;
  background-size: 100%;
  background-position:center;
  padding-top: 947px;
  padding-bottom: 69px;
}
.block_6 .title-block .title-bot {
  line-height: 1.2;
  margin-top: 7px;
}


.row_slider_doc {
  padding: 0 60px;
  margin-top: 35px;
}
.item_slider {
  text-align: center;
}
.item_slider img {
  margin: 0 auto;
}
.item_slider p {    
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.250em;
  font-weight: 500;
  color: rgb(27, 27, 27);
  line-height: 1.3;
  margin: 0 auto;
  margin-top: 19px;
  max-width: 240px;
}


.slick-list {
    margin: 0 0px;
    padding: 0 0px;
}
.slick-prev, .slick-next {
  box-shadow: none;
  top: calc(50% - 30px);
  opacity: 1;
  z-index: 1;
  background: #292929;
  width: 60px;
  height: 60px;
  transition: 0.7s all !important;
  -webkit-transition: 0.7s all !important;
}

.slick-prev {
    left: -40px;
}
.slick-next {
    right: -40px;
}
.slick-prev:hover,.slick-prev:active,.slick-prev:focus,
.slick-next:hover,.slick-next:active,.slick-next:focus  {
    background: #81b02b;
    opacity: 1;
}
.slick-prev:before {
    content: "\f104";
    color: #fff;
    padding-right: 7px;
}
.slick-next:before {
    content: "\f105";
    color: #fff;
    padding-left: 7px;
}
.slick-prev:before, .slick-next:before {
    font-family: 'FontAwesome';
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 32px;
    opacity: 1;
}

.slick-prev:hover:before, .slick-next:hover:before {
  color: #fff;
}

.row_block_6_iner_title {
  margin-top: 134px;
  margin-bottom: -10px;
}


/* Block 7 (Content) */
.block_7 {
  background: url("../img/bac_7.jpg") no-repeat;
  background-size: cover;
  background-position:center;
  padding-top: 56px;
  padding-bottom: 57px;
}

.block_7 .title-block .title-bot {
  max-width: 100%;
}

.block_7 .row_form {
  margin: 0 auto;
  margin-top: 22px;
  max-width: 1000px;
}
.block_7 .col-input {
  max-width: 300px;
}
.block_7 .row_form .button_1 {
  height: 52px;
  font-size: 1.125em;
}


/* Footer */
.footer_div_bot {
  background: #191925;
  text-align: center;
}
.logo_footer {
  display: block;
  width: 243px;
  height: 60px;
  background: url("../img/Logo-w.png") no-repeat;
  background-position: center;
  background-size: 100%;
}
.menu_footer_row {
  height: 82px;
  border-bottom: 1px solid #424450;
}

.menu_footer{
  min-width: calc(100% - 355px);
}
.menu_footer li{
  position: relative;
  font-size: 1.125em;
  font-weight: 500;
  height: 100%;
}
.menu_footer li:last-child{
  margin-right: 0px;
}
.menu_footer li a {
  color: #fff;
  position: relative;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  text-decoration: none;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.menu_footer li:hover a {
  color: #81b02b;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.row_footer_bot {
  height: 70px;
}
.row_footer_bot p span {
  color: #3b3b45;
}
.row_footer_bot p a {
  color: #fff;
  text-decoration: none;
}
.row_footer_bot p a:hover {
  text-decoration: underline;
}
.wdl_img {
  margin-right: 20px;
}










/* Form */
.title_vopros_form{
    font-size: 24px;
    font-weight: 700;
    color: #1b1b1b;
    margin-bottom: 21px;
}
.vopros {
    max-width: 550px;
}
.form_input_0 {
    width: 250px;
    height: 54px;
    border: none;
    border-bottom: 1px solid #cccccc;
    text-align: left;
    font-size: 1em;
    color:#cccccc; 
    padding-left: 2px;
}
.form_input_0.name {
    margin-right: 47px;
}

.form_input_0::-webkit-input-placeholder       {text-indent: 0px;transition: text-indent 1.4s ease;}
.form_input_0::-moz-placeholder                {text-indent: 0px;transition: text-indent 1.4s ease;}
.form_input_0:-moz-placeholder                 {text-indent: 0px;transition: text-indent 1.4s ease;}
.form_input_0:-ms-input-placeholder            {text-indent: 0px;transition: text-indent 1.4s ease;}

.form_input_0:focus::-webkit-input-placeholder {text-indent: -200%;transition: text-indent 1.4s ease;}
.form_input_0:focus::-moz-placeholder          {text-indent: -200%;transition: text-indent 1.4s ease;}
.form_input_0:focus:-moz-placeholder           {text-indent: -200%;transition: text-indent 1.4s ease;}
.form_input_0:focus:-ms-input-placeholder      {text-indent: -200%;transition: text-indent 1.4s ease;}

.message {    
    width: 100%;
    resize: none;
    margin-top: 42px;
    height: 37px;
}
.message:focus {
    outline: none;
}

input.form_input_0:focus:required:valid  {
  border-color: #81b02b;
}

input.form_input_0:focus:required:invalid {
  border-color: red;
}





/* Modal */
.modal {
    z-index: 100500;
}
.modal-dialog {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 85px;
}
.modal .modal-dialog_2 {
    width: 100%;
    max-width: 530px;
    margin: 0 auto;
    margin-top: 85px;
}
.modal-body_1 {
    padding-top: 33px;
    padding-left: 30px;
    padding-right: 27px;
    padding-bottom: 30px;
    height: 100%;
    text-align: center;
    background-position: center;
    text-align: center;
    border-radius: 5px;
    background: #fff;
}
.left_modal {
    width: 39%;
    height: 368px;
    float: left;
}

.right_modal {
    width: 61%;
    float: right;
}
.modal .modal-dialog_2 .right_modal{
    width: 100%;
}
.men_modal{
    background: url('../img/men_modal.png') no-repeat;
    background-position: left bottom;
}
.modal .close {
  position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    opacity: 1;
}
.modal .close:hover {
    opacity: 0.8;
}

.modal h6{
    font-size: 1.875em;
    font-weight: 700;
    text-transform: uppercase;
    color: #353854;
    margin-bottom: 14px;
}

.title_modal {
    font-size: 1.125em;
    color: rgb(153, 153, 153);
    line-height: 1.111;
    margin-bottom: 25px;
}
.modal-body1 .w_me {
    width: 100%;
}


.modal-body1 .button_form {
    padding-top: 0;
    margin-top: 20px;
}
.modal_bot_text {
    font-size: 0.875em;
    color: rgb(153, 153, 153);
    line-height: 1.143;
    margin-top: 7px;
}

.form_input_2 {
    padding: 0;
    width: 100%;
    height: 52px;
    background: #fafbfc;
    border: 1px solid #dde4ea;
    border-radius: 3px;
    margin-bottom: 10px;
    text-align: center;
    color:#999; 
}

.button_form_modal{
    cursor: pointer;
    border: none;
    width: 100%;
    height: 52px;
    background: #1b1b1b;
}
.modal .button_1.button_form_modal{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
.button_form_modal:hover {
    background: #81b02b;
}


#sps h6{    
    margin-top: 50px;
    margin-bottom: 0px;
}
#sps h6.green{
    font-size: 1.875em;
    font-weight: 700;
    text-transform: uppercase;
    color: #81b02b;
    margin-top: 0px;
    margin-bottom: 14px;
}
#sps .title_modal {
    font-size: 1.125em;
    color: rgb(153, 153, 153);
    line-height: 1.111;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 25px;
    max-width: 280px;
}
.men_modal{    
    height: 324px;
    width: 369px;
    background: url(../img/men.png) no-repeat;
    background-position: center bottom;
    margin-right: -60px;
    margin-top: -30px;
}
.a_modal_back {
    font-size: 1.125em;
    color: #1b1b1b;
    font-weight: 500;
    text-decoration: underline;
}
.a_modal_back:hover {
    color: #1b1b1b;
    text-decoration: none;
}


/* Animate */
.mov {
  opacity: 0;
}
.mov_p > p {
  opacity: 0;
}
.mov_div > div {
  opacity: 0;
}